<h1>Edit Chapter</h1>

<%= form_with model: [@novel, @chapter], local: true do |f| %>
  <div>
    <%= f.label :title, "Chapter Title" %>
    <%= f.text_field :title, required: true %>
  </div>

  <div>
    <%= f.label :content, "Content" %>
    <%= f.text_area :content, rows: 10, required: true %>
  </div>

  <div>
    <%= f.submit "Update Chapter", class: "btn btn-primary" %>
  </div>
<% end %>

<%= button_to "Back to Chapter", novel_chapter_path(@novel, @chapter), class: "btn btn-secondary" %>
